In [1]:
# imports

import pandas as pd
import json, os, shutil, codecs
import csv

In [3]:
# read metadata file (JSON)

# metadata_file = "data/book_data.json"
# meta = json.load(open(metadata_file))

In [4]:
# meta[342]

In [8]:
# read metadata file -- RUN this CELL if using BINDER or a LOCAL Jupyter Notebooks SERVER (see bellow for Google Colab)

filename = "data/Microsoft-Books.zip"
df = pd.read_csv(filename, delimiter="\t", compression ="zip")

In [ ]:
# read metadata file -- RUN this CELL if using Google COLAB

filename = "https://github.com/BL-Labs/Jupyter-notebooks-projects-using-BL-Sources/raw/master/Microsoft19thCenturyBooks/data/Microsoft-Books.zip"
df = pd.read_csv(filename, delimiter="\t", compression ="zip")

In [5]:
df.head(3)

,Physical Record ID,BL record ID,ARK,Type of resource,Content type,All names,Title,Country of publication,Place of publication,Publisher,Date of publication (standardised),Edition,Physical description,BL shelfmark,Topics,Genre,Literary form,Languages,Contents
0,4031040.0,14940086,ark:/81055/vdc_000000021AEC,Monograph,Text,"Żychliński, Ludwik [person]",Historya Sejmów Wielk. Ks. Poznańskiego do r. ...,NaN,Poznań,NaN,1867,NaN,2 tomes (8°),Digital Store 9475.cc.22,NaN,NaN,NaN,Polish,NaN
1,4031043.0,15178564,ark:/81055/vdc_000000025FF8,Monograph,Text,"Żychliński, Ludwik [person]",Pamiętniki z wojny Amerykańskiéj 1862 r,NaN,Poznań,NaN,1863,NaN,NaN,Digital Store 9603.f.3,NaN,NaN,NaN,Polish,NaN
2,4030703.0,14841678,ark:/81055/vdc_000000005322,Monograph,Text,"Rehn, A. [person] ; Zwiedinek Von Suedenhorst,...",Syrien und seine Bedeutung für den Welthandel....,NaN,Wien,NaN,1873,NaN,NaN,Digital Store 10077.f.1,NaN,NaN,NaN,German,NaN

In [6]:
df["Content type"].value_counts()

Text                         49314
Cartographic image ; Text        2
Name: Content type, dtype: int64

In [7]:
df["Date of publication (standardised)"].value_counts()

1897         1491
1896         1423
1895         1269
1893         1214
1890         1178
             ...
1851-1873       1
1835-1836       1
1884-           1
2971            1
1893-           1
Name: Date of publication (standardised), Length: 418, dtype: int64

In [17]:
df["Genre"].value_counts()

Periodical                                               38
Directory                                                18
Fiction                                                  14
Source                                                    8
Biography                                                 7
Poetry or verse                                           5
Dictionary                                                5
Review                                                    4
Pictorial work                                            4
Libretto                                                  3
Guidebook                                                 3
Early works to 1800                                       3
Statistics                                                3
Drama                                                     2
Illustration                                              2
Atlas                                                     2
Travel                                                    2
Handbook or manual                                        2
Gazetteer                                                 2
Diary                                                     1
Early works to 1800 ; Libretto                            1
Correspondence                                            1
Bibliography                                              1
Ephemeris                                                 1
Handbook or manual ; Periodical                           1
Engraving ; Illustration ; Plan or view                   1
Compendium or compilation                                 1
History                                                   1
Encyclopaedia                                             1
Translations from English ; Translations into Russian     1
Lithograph                                                1
Diary ; Personal narrative                                1
Concordance                                               1
Hymnal                                                    1
Humour or satire                                          1
Lithograph ; Plan or view                                 1
Children's fiction                                        1
Biography ; Diary ; Personal narrative                    1
Name: Genre, dtype: int64

In [18]:
df["Literary form"].value_counts()

Not fiction      298
Fiction          177
Poetry            27
Dramas            15
Novels            11
Short stories      5
Letters            1
Mixed forms        1
Name: Literary form, dtype: int64